<div class="face-snap-card" [ngClass]="{ snapped: btnTitle === 'oups unsnap!' }">
  <h2>{{faceSnap.title | titlecase}}</h2>
  <p>{{faceSnap.description}}</p>
  <p>{{faceSnap.date| date:"dd/mm/yyyy hh:mm:ss"}}</p>
  <p>{{ 4346234.36 | number: '1.0-1' }}</p>
  <p>{{ 0.336 | percent }}</p>
  <p>{{ 0.336 | percent: '1.0-1' }}</p>
  <strong>{{ 336 | currency: 'EUR' : 'code' }}</strong>
  <button (click)="onSnap()">{{btnTitle}}</button>
              
  <span [ngStyle]="{ color: 'rgb(0, ' + faceSnap.snap + ', 0)' }">🤌{{faceSnap.snap}}</span>
  <p *ngIf="faceSnap.location">Photo prise à {{ faceSnap.location }}</p>
  <img [src]="faceSnap.imageUrl" [alt]="faceSnap.title"/>
  <a routerLink="/facesnaps">Back</a>
</div>
