.landing-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 50vh;
  .landing-text{
    color: aquamarine;
    font-weight: 700;
    margin: auto;
    text-shadow: 1px 1px 5px #ddd;
  }
  .landing-link{
    margin: auto;
    a{
      text-decoration: underline;
    }
  }
}

button {
  background-color: transparent;
  box-sizing: border-box;
  padding: 5px 10px;
  border: none;
  box-shadow: lightgray 3px 3px 7px;
  margin-right: 20px;
  outline: none;
  font-size: 20px;
  font-weight: 500;
  &:active {
    transform: translate(1px, 1px);
    box-shadow: lightgray 0 0 5px;
  }
}
